<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Umich Soccer Project Team focuses on how to combine data processing with soccer to bring more professional analysis to the UMich soccer team. Aubree Xia, Colin Badgero, David Lee, Nikhil Satpathy, Selina Rey and Simon Vasquez are students in this research team. Albert Berahas and Raed AL Kontar are initiators and principal responsible persons of this research. </p>
      </div>
      <div class="col-lg-4">
        <p>If you want to know more about our analysis, please feel free to contact us!</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://ioe.engin.umich.edu/people/berahas-albert-s/" class="btn btn-lg btn-outline" style="margin-bottom: 10px;">
          <i class="fa fa-download"></i> Contact Us - Albert
        </a>
        <!-- Added a new Contact Us button linking to Baidu -->
        <a href="https://ioe.engin.umich.edu/people/al-kontar-raed/" class="btn btn-lg btn-outline" style="margin-top: 10px;">
          <i class="fa fa-download"></i> Contact Us - Raed
        </a>
      </div>
    </div>
  </div>
</section>


