<!-- Portfolio Modals -->
{% assign posts_with_numbers = site.posts | map: 'path' %}
{% assign sorted_numbers = posts_with_numbers | map: 'path' | sort_natural %}
{% for path in sorted_numbers %}
  {% assign post = site.posts | where: 'path', path | first %}
  {% assign filename_parts = post.path | split: '-' %}
  {% assign project_number = filename_parts[2] | remove: 'project-' | remove: '.markdown' %}
  <div class="portfolio-modal modal fade" id="portfolioModal-{{ project_number }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>{{ post.title }}</h2>
              <hr class="star-primary">
              <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
              {% if post.description %}
              <p>{{ post.description }}</p>
              {% endif %}
              {% if post.pdf %}
              <p><a href="img/pdf/{{ post.pdf }}" target="_blank">View Pre-Match Report (PDF)</a></p>
              {% endif %}
              <ul class="list-inline item-details">
                {% if post.hometeam %}
                <li>Home Team:
                  <strong>{{ post.hometeam }}</strong>
                </li>
                {% endif %}
                {% if post.gender %}
                <li>Gender:
                  <strong>{{ post.gender }}</strong>
                </li>
                {% endif %}
                {% if post.project-date %}
                <li>Date:
                  <strong>{{ post.project-date }}</strong>
                </li>
                {% endif %}
                {% if post.oppositeteam %}
                <li>Opposite Team:
                  <strong>{{ post.oppositeteam }}</strong>
                </li>
                {% endif %}
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}



