<!-- Portfolio Grid Section -->
<section id="project">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Project</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="portfolio-flex-row">
      {% assign sorted_posts = site.posts | sort: 'path' %}
      {% for post in sorted_posts %}
      {% assign parts = post.path | split: '-' %}
      {% assign project_num = parts[3] | split: '.' %}
      {% assign project_id = project_num[0] | replace: 'project', '' %}
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-{{ project_id }}" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <div class="image-overlay-container">
            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
            <div class="image-overlay-content">
              {% if post.project-date %}
              <p class="image-date">{{ post.project-date }}</p>
              {% endif %}
              {% if post.gender %}
              <p class="image-gender">{{ post.gender }}</p>
              {% endif %}
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
